@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --white-color: hsl(0, 0%, 100%);
  --dark-blue-color: hsl(233, 26%, 24%);
  --lime-green-color: hsl(136, 65%, 51%);
  --bright-cyan-color: hsl(192, 70%, 51%);
  --grayish-blue-color: hsl(233, 8%, 62%);
  --very-light-gray-color: hsl(0, 0%, 98%);
  --light-grayish-blue-color: hsl(220, 16%, 96%);
  --lime-cyan-gradient: linear-gradient(
    90deg,
    var(--lime-green-color) 0%,
    var(--bright-cyan-color) 100%
  );

  --font-family: "Public Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--grayish-blue-color);
  background-color: var(--very-light-gray-color);
}

h1,
h2,
h3,
h4 {
  line-height: 115%;
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--dark-blue-color);
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 160%;
}
p.font-sm {
  font-size: 16px;
}
p.font-xs {
  font-size: 13px;
}

main {
  margin-block: 96px;
}

.section-wrapper {
  padding-block: 108px;
  max-width: 1112px;
  margin-inline: auto;
  /* padding-inline: 164px; */
}

#why-choose-us {
  background: var(--light-grayish-blue-color);
}
#why-choose-us .section-wrapper {
  gap: 71px;
  display: flex;
  flex-direction: column;
}
.why-choose-us__head {
  gap: 24px;
  width: 100%;
  display: flex;
  max-width: 640px;
  flex-direction: column;
}
.why-choose-us__choices {
  gap: 32px;
  display: flex;
  flex-wrap: wrap;
}
.choice {
  gap: 32px;
  width: 100%;
  display: flex;
  max-width: 250px;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .section-wrapper {
    padding-inline: 16px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  /* p.font-sm {
  font-size: 16px;
}
p.font-xs {
  font-size: 13px;
} */
  .choice {
    gap: 24px;
  }
}

@media (max-width: 640px) {
  #why-choose-us {
    text-align: center;
  }
  .choice {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}
