@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

:root {
  --white-color: hsl(0, 0%, 100%);
  --dark-blue-color: hsl(233, 26%, 24%);
  --lime-green-color: hsl(136, 65%, 51%);
  --bright-cyan-color: hsl(192, 70%, 51%);
  --grayish-blue-color: hsl(233, 8%, 62%);
  --very-light-gray-color: hsl(0, 0%, 98%);
  --light-grayish-blue-color: hsl(220, 16%, 96%);
  --lime-cyan-gradient: linear-gradient(
    90deg,
    var(--lime-green-color) 0%,
    var(--bright-cyan-color) 100%
  );

  --font-family: "Public Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  font-family: var(--font-family);
  color: var(--grayish-blue-color);
  background-color: var(--very-light-gray-color);
}

h1,
h2,
h3,
h4 {
  line-height: 115%;
  font-weight: 400;
  letter-spacing: -2%;
  color: var(--dark-blue-color);
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: -2%;
}
p.font-sm {
  font-size: 16px;
}
p.font-xs {
  font-size: 13px;
}
img {
  max-width: 100%;
}
button {
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  padding: 14px 32px;
  border-radius: 100vw;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  background: var(--lime-cyan-gradient);
}
button:hover {
  filter: brightness(1.2);
}

.section-wrapper {
  gap: 71px;
  display: flex;
  max-width: 1112px;
  position: relative;
  margin-inline: auto;
  padding-block: 108px;
  padding-inline: 16px;
  flex-direction: column;
}

#hero {
  display: flex;
  min-height: 80vh;
  position: relative;
  align-items: center;
}

.hero__content {
  gap: 28px;
  width: 100%;
  display: flex;
  max-width: 456px;
  flex-direction: column;
}

#why-choose-us {
  background: var(--light-grayish-blue-color);
}
.why-choose-us__head {
  gap: 24px;
  width: 100%;
  display: flex;
  max-width: 640px;
  flex-direction: column;
}
.why-choose-us__choices {
  gap: 12px;
  display: flex;
  justify-content: space-between;
}
.choice {
  gap: 32px;
  width: 100%;
  display: flex;
  max-width: 280px;
  flex-direction: column;
}

.latest-articles__container {
  gap: 32px;
  display: flex;
  justify-content: space-between;
}
.article {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--white-color);
}
.article__content {
  gap: 12px;
  padding: 28px;
  display: flex;
  padding: 28px;
  flex-direction: column;
}
.article__img {
  aspect-ratio: 51/40;
  object-fit: cover;
}
.article__content-subtitle {
  font-size: 10px;
}
.article__content-title {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.article__content-title:hover {
  color: var(--lime-green-color);
}
.article__content-bio {
  font-size: 13px;
  line-height: 136%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .choice {
    gap: 24px;
  }
  .why-choose-us__choices {
    flex-wrap: wrap;
  }
  .latest-articles__container {
    flex-wrap: wrap;
  }
  .article {
    max-width: 260px;
  }
}

@media (max-width: 640px) {
  #why-choose-us {
    text-align: center;
  }
  .section-wrapper {
    gap: 36px;
    padding-block: 64px;
    padding-inline: 24px;
  }
  .choice {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .latest-articles__container {
    justify-content: center;
  }
  .article {
    max-width: 480px;
  }
  .article__content-bio {
    -webkit-line-clamp: 3;
  }
}
